<!DOCTYPE html>
<html lang="en" ng-app="dave">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DAVe - Data Analytics & Visualisation Service">
    <meta name="author" content="Jakub Scholz">
    <link rel="icon" href="./favicon.ico">

    <title>DAVe</title>

    <!-- Bootstrap Core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="./vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="./vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./vendor/sb-admin-2/sb-admin-2.css" rel="stylesheet">

    <!-- DAVe CSS -->
    <link href="./app/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" ng-controller="LoginController as login">

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="margin-right: 25px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-fire"></span> DAVe</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-if="authStatus == true">
                <ul class="nav navbar-nav navbar-top-links navbar-right">
                    <li ng-controller="TradingSessionStatusController as status">
                        <p class="navbar-text">
                            <span ng-if="status.tss[0].stat==2" class="label label-success">ERS Status: Online</span>
                            <span ng-if="status.tss[0].stat==1" class="label label-danger">ERS Status: Halted</span>
                            <span ng-if="status.tss[0].stat==3" class="label label-danger">ERS Status: Closed</span>
                            <span ng-if="status.tss[0].stat!=3 && status.tss[0].stat!=1 && status.tss[0].stat!=2" class="label label-warning">ERS Status: Unknown</span>
                        </p>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>-->
                            <li ng-click="login.logout()" ng-if="authStatus == true"><a href="#/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                            <li ng-if="authStatus == false"><a href="#/login"><i class="fa fa-sign-out fa-fw"></i> Login</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav" ng-controller="MenuController as menu">
                    <li class="nav-divider"></li>
                    <li ng-class="menu.amIActive('/dashboard')">
                        <a href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li class="dropdown" ng-class="[menu.amIActive('/positionReport'), menu.amIActive('/marginComponent'), menu.amIActive('/totalMarginRequirement'), menu.amIActive('/marginShortfallSurplus')]">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart fa-fw"></i> Margin Requirement <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-class="menu.amIActive('/positionReport')">
                                <a href="#/positionReportLatest">Position Reports</a>
                            </li>
                            <li ng-class="menu.amIActive('/marginComponent')">
                                <a href="#/marginComponentLatest">Margin Components</a>
                            </li>
                            <li ng-class="menu.amIActive('/totalMarginRequirement')">
                                <a href="#/totalMarginRequirementLatest">Total Margin Requirements</a>
                            </li>
                            <li ng-class="menu.amIActive('/marginShortfallSurplus')">
                                <a href="#/marginShortfallSurplusLatest">Margin Shortfall Surplus</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-class="menu.amIActive('/riskLimit')">
                        <a href="#/riskLimitLatest"><i class="fa fa-fire-extinguisher fa-fw"></i> Risk Limits</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div ng-view></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Extending IE for Google Charts -->
    <script src="./vendor/es-shims/shim.min.js"></script>
    <script src="./vendor/es-shims/es6-map-shim.js"></script>

    <!-- jQuery -->
    <script src="./vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="./vendor/raphael/raphael.min.js"></script>
    <script src="./vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./vendor/sb-admin-2/sb-admin-2.js"></script>

    <!-- AngularJS libraries -->
    <script src="./vendor/angularjs/angular.js"></script>
    <script src="./vendor/angularjs/angular-route.js"></script>
    <script src="./vendor/angularjs/angular-animate.js"></script>

    <script src="./vendor/angular-morris/angular-morris.min.js"></script>

    <!-- Angular module for Google Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" type="text/javascript"></script>

    <!-- Custom javascript -->
    <script src="app/app.js"></script>
    <script src="app/base.controller.js"></script>
    <script src="app/base-latest.controller.js"></script>
    <script src="app/base-history.controller.js"></script>
    <script src="app/route.config.js"></script>
    <script src="app/null-handler.filter.js"></script>
    <script src="app/percentage.filter.js"></script>
    <script src="app/spaced-filter.filter.js"></script>
    <script src="app/highlighter.directive.js"></script>
    <script src="app/row-highlighter.directive.js"></script>
    <script src="app/table-summary.directive.js"></script>
    <script src="app/initial-load.directive.js"></script>
    <script src="app/no-data.directive.js"></script>
    <script src="app/update-failed.directive.js"></script>
    <script src="app/paging.controller.js"></script>
    <script src="app/paging.directive.js"></script>
    <script src="app/sort-records.service.js"></script>
    <script src="app/download-as-csv.service.js"></script>
    <script src="app/record-count.service.js"></script>
    <script src="app/update-view-window.service.js"></script>
    <script src="app/show-extra-info.service.js"></script>
    <script src="app/menu.controller.js"></script>
    <script src="app/trading-session-status.controller.js"></script>
    <script src="app/position-reports/position-report-latest.controller.js"></script>
    <script src="app/position-reports/position-report-history.controller.js"></script>
    <script src="app/position-reports/position-report-bubblechart.controller.js"></script>
    <script src="app/margin-components/margin-component-latest.controller.js"></script>
    <script src="app/margin-components/margin-component-history.controller.js"></script>
    <script src="app/margin-components/margin-component-latest-account-aggregation.controller.js"></script>
    <script src="app/margin-components/margin-component-treemap.controller.js"></script>
    <script src="app/total-margin-requirement/total-margin-requirement-latest.controller.js"></script>
    <script src="app/total-margin-requirement/total-margin-requirement-history.controller.js"></script>
    <script src="app/total-margin-requirement/total-margin-requirement-treemap.controller.js"></script>
    <script src="app/margin-shortfall-surplus/margin-shortfall-surplus-latest.controller.js"></script>
    <script src="app/margin-shortfall-surplus/margin-shortfall-surplus-latest-summary.controller.js"></script>
    <script src="app/margin-shortfall-surplus/margin-shortfall-surplus-history.controller.js"></script>
    <script src="app/risk-limits/risk-limit-latest.controller.js"></script>
    <script src="app/risk-limits/risk-limit-history.controller.js"></script>
    <script src="app/login/login.controller.js"></script>
    <script src="app/dashboard/dashboard.controller.js"></script>

</body>

</html>
