<!DOCTYPE html>
<html lang="en" ng-app="sandbox">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>Opn-Fi Risk</title>

    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-fire"></span> Opn-Fi Risk</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right" ng-controller="TssCtrl">
            <li><a href="#"><span ng-if="tss.stat==2" class="label label-success">ERS Status: Online</span><span ng-if="tss.stat==1" class="label label-danger">Halted</span><span ng-if="tss.stat==3" class="label label-danger">Closed</span><span ng-if="tss.stat!=3 && tss.stat!=1 && tss.stat!=2" class="label label-warning">Unknown</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="main">
        <div ng-view></div>
        <h2>Please login</h2><br>

        <br>

        <form action="/login" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <input type="submit" value="Log In"/>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
