@import "app/_global";

body {
    background-color: #fff;
}

.drilldown-button {
    margin-left: 10px;
    margin-top: -4px;
}

#page-wrapper {
    margin-top: 50px;
    padding: 0 15px 0;
    min-height: 568px;
    background-color: white;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 50px 0 0 0;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.huge {
    font-size: 20px;
}
