<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage">
    <div class="panel-body" ng-if="vm.chartData.length > 0">
        <!--<div id="mcHistoryChart" line-chart line-data="vm.chartData" line-xkey='period'-->
        <!--line-ykeys='["variLiqui", "premiumMargin", "spreadMargin", "additionalMargin"]'-->
        <!--line-labels='["Variation / Liquidation Marign", "Premium Margin", "Spread Margin", "Additional Margin"]'-->
        <!--line-colors='["#31C0BE", "#c7254e", "#800000", "#808000", "#FF00FF"]'></div>-->
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering">
        <column title="Last update"
                sortingKey="received">
            <template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </template>
        </column>
        <column title="Variation Margin"
                sortingKey="variationMargin">
            <template let-record="row" cell-template>
                {{record.variationMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Liquidation Margin"
                sortingKey="liquiMargin">
            <template let-record="row" cell-template>
                {{record.liquiMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Premium Margin"
                sortingKey="premiumMargin">
            <template let-record="row" cell-template>
                {{record.premiumMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Spread Margin"
                sortingKey="spreadMargin">
            <template let-record="row" cell-template>
                {{record.spreadMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Total Margin"
                sortingKey="additionalMargin">
            <template let-record="row" cell-template>
                {{record.additionalMargin | number:'.2-2'}}
            </template>
        </column>
    </data-table>
</list-content>