<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              [drilldownRouterLink]="['/positionReportLatest', routeParams['clearer'] | nullvalue:'*', routeParams['member'] | nullvalue:'*', routeParams['account'] | nullvalue:'*', routeParams['class'] | nullvalue:'*']">
    <div class="panel-body" *ngIf="chartData?.rows?.length > 0">
        <google-chart chartType="LineChart"
                      [chartOptions]="chartOptions"
                      [chartData]="chartData"
                      height="377px"></google-chart>
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                [sortingKey]="valueGetters.received">
            <template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </template>
        </column>
        <column title="Variation Margin"
                [sortingKey]="valueGetters.variationMargin">
            <template let-record="row" cell-template>
                {{record.variationMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Liquidation Margin"
                [sortingKey]="valueGetters.liquiMargin">
            <template let-record="row" cell-template>
                {{record.liquiMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Premium Margin"
                [sortingKey]="valueGetters.premiumMargin">
            <template let-record="row" cell-template>
                {{record.premiumMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Spread Margin"
                [sortingKey]="valueGetters.spreadMargin">
            <template let-record="row" cell-template>
                {{record.spreadMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Total Margin"
                [sortingKey]="valueGetters.additionalMargin">
            <template let-record="row" cell-template>
                {{record.additionalMargin | number:'.2-2'}}
            </template>
        </column>
    </data-table>
</list-content>