<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              [drilldownRouterLink]="['/totalMarginRequirementLatest', routeParams['clearer'] | nullvalue:'*', routeParams['pool'] | nullvalue:'*', '*', '*', routeParams['ccy'] | nullvalue:'*']">
    <div class="panel-body" *ngIf="chartData?.rows?.length > 0">
        <google-chart chartType="LineChart"
                      [chartOptions]="chartOptions"
                      [chartData]="chartData"
                      height="377px"></google-chart>
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                sortingKey="received">
            <template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </template>
        </column>
        <column title="Pool Type"
                sortingKey="poolType">
            <template let-record="row" cell-template>
                {{record.poolType}}
            </template>
        </column>
        <column title="Shortfall / Surplus"
                sortingKey="shortfallSurplus">
            <template let-record="row" cell-template>
                {{record.shortfallSurplus | number:'.2-2'}}
            </template>
        </column>
        <column title="Requirement"
                sortingKey="marginRequirement">
            <template let-record="row" cell-template>
                {{record.marginRequirement | number:'.2-2'}}
            </template>
        </column>
        <column title="Collateral"
                sortingKey="securityCollateral">
            <template let-record="row" cell-template>
                {{record.securityCollateral | number:'.2-2'}}
            </template>
        </column>
        <column title="Cash Balance"
                sortingKey="cashBalance">
            <template let-record="row" cell-template>
                {{record.cashBalance | number:'.2-2'}}
            </template>
        </column>
        <column title="Margin Call"
                sortingKey="marginCall">
            <template let-record="row" cell-template>
                {{record.marginCall | number:'.2-2'}}
            </template>
        </column>
    </data-table>
</list-content>