<div>
    <div class="col-lg-3 col-md-6">
        <div class="panel"
             [class.panel-green]="shortfallSurplus >= 0"
             [class.panel-red]="shortfallSurplus < 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{shortfallSurplus | number:'.2-2'}}</div>
                        <div>Margin Shortfall/Surplus</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel"
             [class.panel-green]="marginRequirement >= 0"
             [class.panel-red]="marginRequirement < 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{marginRequirement | number:'.2-2'}}</div>
                        <div>Margin Requirement</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel"
             [class.panel-green]="securityCollateral >= 0"
             [class.panel-red]="securityCollateral < 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{securityCollateral | number:'.2-2'}}</div>
                        <div>Collateral</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel"
             [class.panel-green]="cashBalance >= 0"
             [class.panel-red]="cashBalance < 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{cashBalance | number:'.2-2'}}</div>
                        <div>Cash Balance</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-2 col-md-4">
        <div class="panel"
             [class.panel-green]="marginCall >= 0"
             [class.panel-red]="marginCall < 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="huge">{{marginCall | number:'.2-2'}}</div>
                        <div>Margin Call</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <i class="fa fa-arrow-circle-right fa-2x"></i>
                        <div>View details</div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>