<div class="panel panel-default" style="border-top: 0">
    <div class="panel-body">

        <initial-load *ngIf="initialLoad && !errorMessage"></initial-load>

        <no-data *ngIf="!initialLoad && !errorMessage && chartData?.rows?.length < 1"></no-data>

        <update-failed *ngIf="errorMessage" [message]="errorMessage"></update-failed>

        <google-chart *ngIf="chartData?.rows?.length > 0"
                      id="treemapChart"
                      chartType="TreeMap"
                      [chartOptions]="chartOptions"
                      [chartData]="chartData"
                      height="345px"></google-chart>
        <!--<div google-chart chart="chartObject" agc-on-select="selectHandler(selectedItem)"-->
        <!--style="height:345px; width:100%;"-->
        <!--ng-if="chartObject.data.rows.length > 1"></div>-->
        <!--<br/>-->

        <a routerLink="/marginComponentLatest" class="btn btn-default btn-block">View Details</a>
    </div>
</div>