<list-content title="Margin Shortfall Surplus"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering">
        <column title="Collateral Pool"
                sortingKey="pool">
            <template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*']">
                    {{record.pool}}
                </a>
            </template>
        </column>
        <column title="Pool Type"
                sortingKey="poolType">
            <template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*']">
                    {{record.poolType}}
                </a>
            </template>
        </column>
        <column title="Member / Client"
                sortingKey="member">
            <template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*']">
                    {{record.member}}
                </a>
            </template>
        </column>
        <column title="Clearing Ccy"
                sortingKey="clearingCcy">
            <template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*', record.clearingCcy | nullvalue:'*']">
                    {{record.clearingCcy}}
                </a>
            </template>
        </column>
        <column title="Ccy"
                sortingKey="ccy">
            <template let-record="row" cell-template>
                {{record.ccy}}
            </template>
        </column>
        <column title="Shortfall / Surplus"
                sortingKey="shortfallSurplus">
            <template let-record="row" cell-template>
                {{record.shortfallSurplus | number:'.2-2'}}
            </template>
        </column>
        <column title="Margin Requirement"
                sortingKey="marginRequirement">
            <template let-record="row" cell-template>
                {{record.marginRequirement | number:'.2-2'}}
            </template>
        </column>
        <column title="Collateral"
                sortingKey="securityCollateral">
            <template let-record="row" cell-template>
                {{record.securityCollateral | number:'.2-2'}}
            </template>
        </column>
        <column title="Cash Balance"
                sortingKey="cashBalance">
            <template let-record="row" cell-template>
                {{record.cashBalance | number:'.2-2'}}
            </template>
        </column>
        <column title="Margin Call"
                sortingKey="marginCall">
            <template let-record="row" cell-template>
                {{record.marginCall | number:'.2-2'}}
            </template>
        </column>
        <column>
            <template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', '*', '*', record.ccy | nullvalue:'*']">
                    <span class="fa fa-bullseye" aria-hidden="true" title="Drilldown"></span>
                </a>
                <a [routerLink]="['/marginShortfallSurplusHistory', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*', record.clearingCcy | nullvalue:'*', record.ccy | nullvalue:'*']">
                    <span class="fa fa-bar-chart-o" aria-hidden="true" title="Detail"></span>
                </a>
            </template>
        </column>
    </data-table>
</list-content>