<div class="row">
    <div class="col-lg-12">
        <h3>DAVe Dashboard</h3>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#overview" ng-click="vm.setActiveTab('overview')" data-toggle="tab"><i class="fa fa-table" aria-hidden="true"></i> Margin Requirement Overview</a></li>
            <li><a data-target="#cv" ng-click="vm.setActiveTab('cv')" data-toggle="tab"><i class="fa fa-adjust" aria-hidden="true"></i> Position Level Risk</a></li>
            <li><a data-target="#tmr" ng-click="vm.setActiveTab('tmr')" data-toggle="tab"><i class="fa fa-th-list fa-fw"></i>Total Margin Requirement</a>
            </li>
            <li><a data-target="#im" ng-click="vm.setActiveTab('im')" data-toggle="tab"><i class="fa fa-th fa-fw"></i> Initial Margin</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="cv" ng-if="vm.activeTab === 'cv'">
                <div class="panel panel-default" ng-controller="PositionReportBubbleChartController as bubbleChart" style="border-top: 0px">
                    <div class="panel-body">
                            <div class="pull-right">
                                <label for="seriesSelect">{{bubbleChart.accountSelection.selectedOption.member}}
                                    / </label>
                                <select name="seriesSelect" id="seriesSelect"
                                        ng-options="option.account group by option.member for option in bubbleChart.accountSelection.availableOptions"
                                        ng-model="bubbleChart.accountSelection.selectedOption"
                                        ng-change="bubbleChart.selectionChanged(bubbleChart.accountSelection.selectedOption)">
                                </select>
                                <label for="bubblesCount">Records</label>
                                <select name="bubblesCount" id="bubblesCount"
                                        ng-model="bubbleChart.topRecordsCount"
                                        ng-change="bubbleChart.selectionChanged(bubbleChart.accountSelection.selectedOption)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                    </div>
                    <div class="panel-body">
                        <initial-load
                                ng-if="bubbleChart.chartObject.data.rows.length <= 1 && bubbleChart.initialLoad === true && bubbleChart.errorMessage === ''"/>

                        <no-data
                                ng-if="bubbleChart.chartObject.data.rows.length <= 1 && bubbleChart.initialLoad === false && bubbleChart.errorMessage === ''"/>

                        <update-failed ng-if="bubbleChart.errorMessage !== ''" message="bubbleChart.errorMessage"/>

                        <div google-chart chart="bubbleChart.chartObject" style="height:345px; width:100%;"
                             ng-if="bubbleChart.chartObject.data.rows.length > 0"></div>
                        <br />

                        <a href="#/positionReportLatest" class="btn btn-default btn-block">View Details</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tmr" ng-if="vm.activeTab === 'tmr'">
                <div class="panel panel-default" ng-controller="TotalMarginRequirementTreemapController as treemap" style="border-top: 0px">
                    <div class="panel-body">
                        <initial-load
                                ng-if="treemap.chartObject.data.rows.length <= 1 && treemap.initialLoad == true && treemap.errorMessage == ''"/>

                        <no-data
                                ng-if="treemap.chartObject.data.rows.length <= 1 && treemap.initialLoad == false && treemap.errorMessage == ''"/>

                        <update-failed ng-if="treemap.errorMessage != ''" message="treemap.errorMessage"/>

                        <div google-chart chart="treemap.chartObject" style="height:345px; width:100%;"
                             ng-if="treemap.chartObject.data.rows.length > 1"></div>
                        <br />

                        <a href="#/totalMarginRequirementLatest" class="btn btn-default btn-block">View Details</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="im" ng-if="vm.activeTab === 'im'">
                <div class="panel panel-default" ng-controller="MarginComponentTreemapController as treemap2" style="border-top: 0px">
                    <div class="panel-body">
                        <initial-load
                                ng-if="treemap2.chartObject.data.rows.length <= 1 && treemap2.initialLoad == true && treemap2.errorMessage == ''"/>

                        <no-data
                                ng-if="treemap2.chartObject.data.rows.length <= 1 && treemap2.initialLoad == false && treemap2.errorMessage == ''"/>

                        <update-failed ng-if="treemap2.errorMessage != ''" message="treemap2.errorMessage"/>

                        <div google-chart chart="treemap2.chartObject" style="height:345px; width:100%;"
                             ng-if="treemap2.chartObject.data.rows.length > 1"></div>
                        <br />

                        <a href="#/marginComponentLatest" class="btn btn-default btn-block">View Details</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in active" id="overview" ng-if="vm.activeTab === 'overview'">
                <div class="panel panel-default"
                     ng-controller="MarginComponentLatestAccountAggregationController as mc" style="border-top: 0px">
                    <div class="panel-body">
                        <initial-load ng-if="mc.viewWindow.length == 0 && mc.initialLoad == true && mc.errorMessage == ''"/>

                        <no-data ng-if="mc.viewWindow.length == 0 && mc.initialLoad == false && mc.errorMessage == ''"/>

                        <update-failed ng-if="mc.errorMessage != ''" message="mc.errorMessage"/>

                        <table class="table table-striped table-bordered table-hover" ng-if="mc.viewWindow.length > 0">
                            <thead>
                            <tr>
                                <th>Clr <span class="fa fa-sort" aria-hidden="true"
                                              ng-click="mc.sortRecords('clearer')"></span></th>
                                <th>Mmb <span class="fa fa-sort" aria-hidden="true"
                                              ng-click="mc.sortRecords('member')"></span></th>
                                <th>Acc <span class="fa fa-sort" aria-hidden="true"
                                              ng-click="mc.sortRecords('account')"></span></th>
                                <th>Vari <span class="fa fa-sort" aria-hidden="true"
                                               ng-click="mc.sortRecords('variationMargin')"></span></th>
                                <th>Prem <span class="fa fa-sort" aria-hidden="true"
                                               ng-click="mc.sortRecords('premiumMargin')"></span></th>
                                <th>Liqui <span class="fa fa-sort" aria-hidden="true"
                                                ng-click="mc.sortRecords('liquiMargin')"></span></th>
                                <th>Spread <span class="fa fa-sort" aria-hidden="true"
                                                 ng-click="mc.sortRecords('spreadMargin')"></span></th>
                                <th>Addi <span class="fa fa-sort" aria-hidden="true"
                                               ng-click="mc.sortRecords('additionalMargin')"></span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="record in mc.viewWindow track by record.functionalKey"
                                row-highlighter="record.functionalKey">
                                <td highlighter="record.clearer"><a
                                        href="#/marginComponentLatest/{{record.clearer}}">{{record.clearer}}</a>
                                </td>
                                <td highlighter="record.member"><a
                                        href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}">{{record.member}}</a>
                                </td>
                                <td highlighter="record.account"><a
                                        href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}/{{record.account}}">{{record.account}}</a>
                                </td>
                                <td highlighter="record.variationMargin">{{record.variationMargin | number:2}}</td>
                                <td highlighter="record.premiumMargin">{{record.premiumMargin | number:2}}</td>
                                <td highlighter="record.liquiMargin">{{record.liquiMargin | number:2}}</td>
                                <td highlighter="record.spreadMargin">{{record.spreadMargin | number:2}}</td>
                                <td highlighter="record.additionalMargin">{{record.additionalMargin | number:2}}</td>
                                <td>
                                    <a href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}/{{record.account}}"><span
                                            class="fa fa-bullseye" aria-hidden="true" title="Drilldown"></span></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th highlighter="mc.viewSum.variationMargin">{{mc.viewSum.variationMargin | number:2}}</th>
                                <th highlighter="mc.viewSum.premiumMargin">{{mc.viewSum.premiumMargin | number:2}}</th>
                                <th highlighter="mc.viewSum.liquiMargin">{{mc.viewSum.liquiMargin | number:2}}</th>
                                <th highlighter="mc.viewSum.spreadMargin">{{mc.viewSum.spreadMargin | number:2}}</th>
                                <th highlighter="mc.viewSum.additionalMargin">{{mc.viewSum.additionalMargin | number:2}}</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>

                        <a href="#/marginComponentLatest" class="btn btn-default btn-block">View Details</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>
