<div class="row">
    <div class="col-lg-12">
        <h3>Dashboard</h3>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-target="#overview" (click)="setActiveTab('overview')" data-toggle="tab">
                    <i class="fa fa-table" aria-hidden="true"></i> Margin Requirement Overview
                </a>
            </li>
            <li>
                <a data-target="#cv" (click)="setActiveTab('cv')" data-toggle="tab">
                    <i class="fa fa-adjust" aria-hidden="true"></i> Position Level Risk
                </a>
            </li>
            <!--<li><a data-target="#tmr" (click)="setActiveTab('tmr')" data-toggle="tab"><i class="fa fa-th-list fa-fw"></i>Total Margin Requirement</a></li>-->
            <li>
                <a data-target="#im" (click)="setActiveTab('im')" data-toggle="tab">
                    <i class="fa fa-th fa-fw"></i> Initial Margin
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="cv" *ngIf="activeTab === 'cv'">
                <!--TODO: <ng-include src="'app/position-reports/position-report-bubblechart.html'"></ng-include>-->
            </div>
            <div class="tab-pane fade" id="tmr" *ngIf="activeTab === 'tmr'">
                <!--TODO: <ng-include src="'app/total-margin-requirement/total-margin-requirement-treemap.html'"></ng-include>-->
            </div>
            <div class="tab-pane fade" id="im" *ngIf="activeTab === 'im'">
                <!--TODO: <ng-include src="'app/margin-components/margin-component-treemap.html'"></ng-include>-->
            </div>
            <div class="tab-pane fade in active" id="overview" *ngIf="activeTab === 'overview'">
                <div class="panel panel-default" style="border-top: 0">
                    <div class="panel-body">
                        <!--TODO: <ng-include src="'app/margin-shortfall-surplus/margin-shortfall-surplus-latest-summary.html'"></ng-include>
                        <ng-include src="'app/margin-components/margin-component-latest-account-aggregation.html'"></ng-include>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>
