<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">DAVe Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Margin Requirement
            </div>
            <div class="panel-body">
                <div class="panel-body" ng-if="vm.chartData.MarginRequirement.length == 0">
                    <div class="alert alert-info" role="alert">No data available.</div>
                </div>

                <div class="panel-body" ng-if="vm.errorMessage != ''">
                    <div class="alert alert-danger" role="alert">Failed to update the data: {{vm.errorMessage}}.</div>
                </div>

                <div
                        ng-if="vm.chartData.MarginRequirement.length > 0"
                        donut-chart
                        donut-data="vm.chartData.MarginRequirement"
                        donut-label-color='"#000000"'
                        donut-background-color='"#ffffff"'
                        donut-colors='["#31C0BE","#c7254e","#98a0d3"]'>
                </div>
                <a href="#/marginShortfallSurplusLatest" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Margin Shortfall / Surplus
            </div>
            <div class="panel-body">
                <div class="panel-body" ng-if="vm.chartData.MarginShortfallSurplus.length == 0">
                    <div class="alert alert-info" role="alert">No data available.</div>
                </div>

                <div class="panel-body" ng-if="vm.errorMessage != ''">
                    <div class="alert alert-danger" role="alert">Failed to update the data: {{vm.errorMessage}}.</div>
                </div>

                <div
                      ng-if="vm.chartData.MarginShortfallSurplus.length > 0"
                      donut-chart
                      donut-data="vm.chartData.MarginShortfallSurplus"
                      donut-label-color='"#000000"'
                      donut-background-color='"#ffffff"'
                      donut-colors='["#31C0BE","#c7254e","#98a0d3"]'>
                </div>
                <a href="#/marginShortfallSurplusLatest" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Margin Call
            </div>
            <div class="panel-body">
                <div class="panel-body" ng-if="vm.chartData.MarginCall.length == 0">
                    <div class="alert alert-info" role="alert">No data available.</div>
                </div>

                <div class="panel-body" ng-if="vm.errorMessage != ''">
                    <div class="alert alert-danger" role="alert">Failed to update the data: {{vm.errorMessage}}.</div>
                </div>

                <div
                      ng-if="vm.chartData.MarginCall.length > 0"
                      donut-chart
                      donut-data="vm.chartData.MarginCall"
                      donut-label-color='"#000000"'
                      donut-background-color='"#ffffff"'
                      donut-colors='["#31C0BE","#c7254e","#98a0d3"]'>
                </div>
                <a href="#/marginShortfallSurplusLatest" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>