<div ng-controller="MarginComponentLatestAccountAggregationController as mc">
    <initial-load ng-if="mc.viewWindow.length == 0 && mc.initialLoad == true && mc.errorMessage == ''"/>

    <no-data ng-if="mc.viewWindow.length == 0 && mc.initialLoad == false && mc.errorMessage == ''"/>

    <update-failed ng-if="mc.errorMessage != ''" message="mc.errorMessage"/>

    <table class="table table-striped table-bordered table-hover" ng-if="mc.viewWindow.length > 0">
        <thead>
        <tr>
            <th>Clearer <span class="fa fa-sort" aria-hidden="true"
                              ng-click="mc.sortRecords('clearer')"></span></th>
            <th>Member / Client <span class="fa fa-sort" aria-hidden="true"
                                      ng-click="mc.sortRecords('member')"></span></th>
            <th>Account <span class="fa fa-sort" aria-hidden="true"
                              ng-click="mc.sortRecords('account')"></span></th>
            <th>Variation Margin <span class="fa fa-sort" aria-hidden="true"
                                                     ng-click="mc.sortRecords('variationMargin')"></span></th>
            <th>Liquidation Margin <span class="fa fa-sort" aria-hidden="true"
                                                     ng-click="mc.sortRecords('liquiMargin')"></span></th>
            <th>Premium Margin <span class="fa fa-sort" aria-hidden="true"
                                    ng-click="mc.sortRecords('premiumMargin')"></span></th>
            <th>Spread Margin <span class="fa fa-sort" aria-hidden="true"
                                    ng-click="mc.sortRecords('spreadMargin')"></span></th>
            <th>Total Margin <span class="fa fa-sort" aria-hidden="true"
                                   ng-click="mc.sortRecords('additionalMargin')"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in mc.viewWindow track by record.functionalKey"
            row-highlighter="record.functionalKey">
            <td highlighter="record.clearer"><a
                    href="#/marginComponentLatest/{{record.clearer}}">{{record.clearer}}</a>
            </td>
            <td highlighter="record.member"><a
                    href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}">{{record.member}}</a>
            </td>
            <td highlighter="record.account"><a
                    href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}/{{record.account}}">{{record.account}}</a>
            </td>
            <td highlighter="record.variationMargin">{{record.variationMargin | number:2}}</td>
            <td highlighter="record.liquiMargin">{{record.liquiMargin | number:2}}</td>
            <td highlighter="record.premiumMargin">{{record.premiumMargin | number:2}}</td>
            <td highlighter="record.spreadMargin">{{record.spreadMargin | number:2}}</td>
            <td highlighter="record.additionalMargin">{{record.additionalMargin | number:2}}</td>
            <td>
                <a href="#/marginComponentLatest/{{record.clearer}}/{{record.member}}/{{record.account}}"><span
                        class="fa fa-bullseye" aria-hidden="true" title="Drilldown"></span></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th highlighter="mc.viewSum.variationMargin">{{mc.viewSum.variationMargin | number:2}}</th>
            <th highlighter="mc.viewSum.liquiMargin">{{mc.viewSum.liquiMargin | number:2}}</th>
            <th highlighter="mc.viewSum.premiumMargin">{{mc.viewSum.premiumMargin | number:2}}</th>
            <th highlighter="mc.viewSum.spreadMargin">{{mc.viewSum.spreadMargin | number:2}}</th>
            <th highlighter="mc.viewSum.additionalMargin">{{mc.viewSum.additionalMargin | number:2}}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <a href="#/marginComponentLatest" class="btn btn-default btn-block">View Details</a>
</div>