<div class="panel panel-default" ng-controller="MarginComponentTreemapController as treemap2" style="border-top: 0px">
    <div class="panel-body">
        <initial-load
                ng-if="treemap2.chartObject.data.rows.length <= 1 && treemap2.initialLoad == true && treemap2.errorMessage == ''"/>

        <no-data
                ng-if="treemap2.chartObject.data.rows.length <= 1 && treemap2.initialLoad == false && treemap2.errorMessage == ''"/>

        <update-failed ng-if="treemap2.errorMessage != ''" message="treemap2.errorMessage"/>

        <div google-chart chart="treemap2.chartObject" agc-on-select="treemap2.selectHandler(selectedItem)" style="height:345px; width:100%;"
             ng-if="treemap2.chartObject.data.rows.length > 1"></div>
        <br />

        <a href="#/marginComponentLatest" class="btn btn-default btn-block">View Details</a>
    </div>
</div>