<div class="panel-body" *ngIf="data?.length">
    <table [class.table-striped]="striped" class="table table-bordered table-hover">
        <thead *ngIf="hasHeader()">
        <tr>
            <th *ngFor="let column of columns">
                <template [ngIf]="column.title">{{column.title}}</template>
                <i *ngIf="column.tooltip"
                   class="fa fa-question-circle"
                   data-toggle="tooltip"
                   data-placement="top"
                   [title]="column.tooltip"
                   aria-hidden="true"></i>
                <span *ngIf="column.sortingKey"
                      class="fa fa-sort"
                      aria-hidden="true"
                      (click)="sortRecords(column.sortingKey)"></span>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="pageRows">
        <template ngFor let-row [ngForOf]="pageRows" expandable #expandable="expandable">
            <tr (click)="expandable.expand(masterRow, !!rowDetailTemplate)" #masterRow>
                <td *ngFor="let column of columns" highlighter="record.pool">
                    <template [ngIf]="column.cellTemplate"
                              [ngTemplateOutlet]="column.cellTemplate"
                              [ngOutletContext]="{ row: row }"></template>
                </td>
            </tr>
            <tr *ngIf="rowDetailTemplate" class="hidden">
                <td [attr.colspan]="columns?.length">
                    <table class="table table-condensed">
                        <template ngFor let-rowGroup [ngForOf]="rowDetailTemplate">
                            <thead>
                            <tr>
                                <th *ngFor="let column of rowGroup">
                                    <template [ngIf]="column.title">{{column.title}}</template>
                                    <i *ngIf="column.tooltip"
                                       class="fa fa-question-circle"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       [title]="column.tooltip"
                                       aria-hidden="true"></i>
                                    <span *ngIf="column.sortingKey"
                                          class="fa fa-sort"
                                          aria-hidden="true"
                                          (click)="sortRecords(column.sortingKey)"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr row-highlighter="record.functionalKey">
                                <td *ngFor="let column of rowGroup" highlighter="record.pool">
                                    <template [ngIf]="column.cellTemplate"
                                              [ngTemplateOutlet]="column.cellTemplate"
                                              [ngOutletContext]="{ row: row }"></template>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </table>
                </td>
            </tr>
        </template>
        </tbody>
        <tfoot *ngIf="hasFooter()">
        <tr>
            <th *ngFor="let column of columns" highlighter="record.pool">
                <template [ngIf]="column.footerTemplate"
                          [ngTemplateOutlet]="column.footerTemplate"
                          [ngOutletContext]="{ footer: footer }"></template>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<div class="panel-footer" *ngIf="showFooter && data?.length">
    Showing {{pageRows?.length}} records out of {{data?.length}}

    <paging *ngIf="pageSize && data?.length / pageSize > 1" [pageSize]="pageSize"
            [totalRecords]="data?.length"
            (pageChanged)="updatePage($event)"></paging>
</div>