<div class="row">
    <div class="col-lg-12">
        <h3>Risk Limits</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#/riskLimitLatest">Risk Limits</a><span ng-if="vm.route.clearer != '*'">: <a href="#/riskLimitLatest/{{vm.route.clearer}}">{{vm.route.clearer}}</a></span><span ng-if="vm.route.member != '*'"> / <a href="#/riskLimitLatest/{{vm.route.clearer}}/{{vm.route.member}}">{{vm.route.member}}</a></span><span ng-if="vm.route.maintainer != '*'"> / <a href="#/riskLimitsLatest/{{vm.route.clearer}}/{{vm.route.member}}/{{vm.route.maintainer}}">{{vm.route.maintainer}}</a></span><span ng-if="vm.route.limitType != '*'"> / <a href="#/riskLimitLatest/{{vm.route.clearer}}/{{vm.route.member}}/{{vm.route.maintainer}}/{{vm.route.limitType}}">{{vm.route.limitType}}</a></span>

                <div class="pull-right">
                    <form class="pull-right" role="search" style="margin-top: -4px">
                        <div class="form-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="vm.filterQuery" ng-change="vm.filter()">
                        </div>
                    </form>
                </div>
            </div>

            <initial-load ng-if="vm.recordCount == 0 && vm.initialLoad == true && vm.errorMessage == ''" />

            <no-data ng-if="vm.recordCount == 0 && vm.initialLoad == false && vm.errorMessage == ''" />

            <update-failed ng-if="vm.errorMessage != ''" message="vm.errorMessage"/>

            <!-- /.panel-heading -->
            <div class="panel-body" ng-if="vm.viewWindow.length > 0">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Mmb <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('member')"></span></th>
                        <th>Mntnr <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('maintainer')"></span></th>
                        <th>Typ <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('limitType')"></span></th>
                        <th>Util <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('utilization')"></span></th>
                        <th>Warning <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('warningLevel')"></span></th>
                        <th>Throttle <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('throttleLevel')"></span></th>
                        <th>Stop <span class="fa fa-sort" aria-hidden="true" ng-click="vm.sortRecords('rejectLevel')"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="record in vm.viewWindow track by record.functionalKey" row-highlighter="record.functionalKey">
                        <td highlighter="record.member"><a href="#/riskLimitLatest/{{record.clearer}}/{{record.member}}">{{record.member}}</a></td>
                        <td highlighter="record.maintainer"><a href="#/riskLimitLatest/{{vm.route.clearer}}/{{vm.route.member}}/{{record.maintainer}}">{{record.maintainer}}</a></td>
                        <td highlighter="record.limitType"><a href="#/riskLimitLatest/{{vm.route.clearer}}/{{vm.route.member}}/{{vm.route.maintainer}}/{{record.limitType}}">{{record.limitType}}</a></td>
                        <td highlighter="record.utilization">{{record.utilization | number:2}}</td>
                        <td highlighter="record.warningLevel">{{record.warningLevel | number:2}}</td>
                        <td highlighter="record.throttleLevel">{{record.throttleLevel | number:2}}</td>
                        <td highlighter="record.rejectLevel">{{record.rejectLevel | number:2}}</td>
                        <td><a href="#/riskLimitHistory/{{record.clearer}}/{{record.member}}/{{record.maintainer}}/{{record.limitType}}"><span class="fa fa-bar-chart-o" aria-hidden="true" title="Detail"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->

            <div class="panel-footer">
                <table-summary total="vm.recordCount" shown="vm.viewWindow.length"></table-summary>

                <paging page-size="vm.pageSize" total-records="vm.recordCount" update-callback="vm.updateViewWindow"></paging>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>