<list-content title="Risk Limits"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering">
        <column title="Member / Client"
                sortingKey="member">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', record.clearer | nullvalue:'*', record.member | nullvalue:'*']">
                    {{record.member}}
                </a>
            </template>
        </column>
        <column title="Maintainer"
                sortingKey="maintainer">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', routeParams['clearer'] | nullvalue:'*', routeParams['member'] | nullvalue:'*', record.maintainer | nullvalue:'*']">
                    {{record.maintainer}}
                </a>
            </template>
        </column>
        <column title="Type"
                sortingKey="limitType">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', routeParams['clearer'] | nullvalue:'*', routeParams['member'] | nullvalue:'*', routeParams['maintainer'] | nullvalue:'*', record.limitType | nullvalue:'*']">
                    {{record.limitType}}
                </a>
            </template>
        </column>
        <column title="Utilization"
                sortingKey="utilization">
            <template let-record="row" cell-template>
                {{record.utilization | number:'.2-2'}}
            </template>
        </column>
        <column title="Warning Level">
            <template let-record="row" cell-template>
                {{record.warningLevel | number:'.2-2'}}
            </template>
        </column>
        <column title="Throttle Level">
            <template let-record="row" cell-template>
                {{record.throttleLevel | number:'.2-2'}}
            </template>
        </column>
        <column title="Stop Level">
            <template let-record="row" cell-template>
                {{record.rejectLevel | number:'.2-2'}}
            </template>
        </column>
        <column>
            <template let-record="row" cell-template>
                <detail-row-button
                        [routerLink]="['/riskLimitHistory', record.clearer | nullvalue:'*', record.member | nullvalue:'*', record.maintainer | nullvalue:'*', record.limitType | nullvalue:'*']"></detail-row-button>
            </template>
        </column>
    </data-table>
</list-content>

<!-- TODO: Rowspans/Colspans
          <table class="table table-striped table-bordered table-hover">
               <thead>
               <tr>
                   <th rowspan="2">Member / Client <span class="fa fa-sort" aria-hidden="true"
                                                         ng-click="vm.sortRecords('member')"></span></th>
                   <th rowspan="2">Maintainer <span class="fa fa-sort" aria-hidden="true"
                                                    ng-click="vm.sortRecords('maintainer')"></span></th>
                   <th rowspan="2">Type <span class="fa fa-sort" aria-hidden="true"
                                              ng-click="vm.sortRecords('limitType')"></span></th>
                   <th rowspan="2">Utilization <span class="fa fa-sort" aria-hidden="true"
                                                     ng-click="vm.sortRecords('utilization')"></span></th>
                   <th colspan="2">Warning Level</th>
                   <th colspan="2">Throttle Level</th>
                   <th colspan="2">Stop Level</th>
                   <th rowspan="2"></th>
               </tr>
               <tr>
                   <th>Limit <span class="fa fa-sort" aria-hidden="true"
                                   ng-click="vm.sortRecords('warningLevel')"></span></th>
                   <th>Utilization <span class="fa fa-sort" aria-hidden="true"
                                         ng-click="vm.sortRecords('warningUtil')"></span></th>
                   <th>Limit <span class="fa fa-sort" aria-hidden="true"
                                   ng-click="vm.sortRecords('throttleLevel')"></span></th>
                   <th>Utilization <span class="fa fa-sort" aria-hidden="true"
                                         ng-click="vm.sortRecords('throttleUtil')"></span></th>
                   <th>Limit <span class="fa fa-sort" aria-hidden="true"
                                   ng-click="vm.sortRecords('rejectLevel')"></span></th>
                   <th>Utilization <span class="fa fa-sort" aria-hidden="true"
                                         ng-click="vm.sortRecords('rejectUtil')"></span></th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="record in vm.viewWindow track by record.functionalKey"
                   row-highlighter="record.functionalKey">
                   <td highlighter="record.member"><a
                           href="#/riskLimitLatest/{{record.clearer | nullvalue:'*', record.member}}">{{record.member}}</a></td>
                   <td highlighter="record.maintainer"><a
                           href="#/riskLimitLatest/{{vm.route.clearer | nullvalue:'*', vm.route.member | nullvalue:'*', record.maintainer}}">{{record.maintainer}}</a>
                   </td>
                   <td highlighter="record.limitType"><a
                           href="#/riskLimitLatest/{{vm.route.clearer | nullvalue:'*', vm.route.member | nullvalue:'*', vm.route.maintainer | nullvalue:'*', record.limitType}}">{{record.limitType}}</a>
                   </td>
                   <td highlighter="record.utilization">{{record.utilization | number:2}}</td>
                   <td highlighter="record.warningLevel">{{record.warningLevel | number:2}}</td>
                   <td highlighter="record.warningUtil">{{record.warningUtil | percentage:0}}</td>
                   <td highlighter="record.throttleLevel">{{record.throttleLevel | number:2}}</td>
                   <td highlighter="record.throttleUtil">{{record.throttleUtil | percentage:0}}</td>
                   <td highlighter="record.rejectLevel">{{record.rejectLevel | number:2}}</td>
                   <td highlighter="record.rejectUtil">{{record.rejectUtil | percentage:0}}</td>
                   <td>
                       <a href="#/riskLimitHistory/{{record.clearer | nullvalue:'*', record.member | nullvalue:'*', record.maintainer | nullvalue:'*', record.limitType}}"><span
                               class="fa fa-bar-chart-o" aria-hidden="true" title="Detail"></span></a></td>
               </tr>
               </tbody>
           </table>        -->