<div class="row">
    <div class="col-lg-12">
        <h3>Risk Limit History</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Risk Limit History: <a href="#/riskLimitLatest/{{clearer}}">{{clearer}}</a> / <a href="#/riskLimitLatest/{{clearer}}/{{member}}">{{member}}</a> / <a href="#/riskLimitLatest/{{clearer}}/{{member}}/{{maintainer}}">{{maintainer}}</a> / <a href="#/riskLimitLatest/{{clearer}}/{{member}}/{{maintainer}}/{{limitType}}">{{limitType}}</a>
            </div>

            <div class="panel-body" ng-if="rlHistory.length == 0 && initialLoad == true && error == ''">
                <div class="alert alert-warning" role="alert">Loading ...</div>
            </div>

            <div class="panel-body" ng-if="rlHistory.length == 0 && initialLoad == false && error == ''">
                <div class="alert alert-info" role="alert">No data available.</div>
            </div>

            <div class="panel-body" ng-if="rlChartData.length > 0">
                <div id="rlHistoryChart" line-chart line-data="rlChartData" line-xkey='period' line-ykeys='["utilization", "warningLevel", "throttleLevel", "rejectLevel"]' line-labels='["Limit utilization", "Warning level", "Throttle level", "Stop level"]' line-colors='["#31C0BE", "#c7254e", "#800000", "#808000"]'></div>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body" ng-if="rlHistory.length > 0">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Last update <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('received')"></span></th>
                        <th class="sorting">Limit utilization <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('utilization')"></span></th>
                        <th>Warning limit <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('warningLevel')"></span></th>
                        <th>Throttle limit <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('throttleLevel')"></span></th>
                        <th>Stop limit <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('rejectLevel')"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rl in rlHistory track by rl.id.$oid" row-highlighter="rl.id.$oid">
                        <td highlighter="rl.received">{{rl.received | date:'HH:mm:ss'}}</td>
                        <td highlighter="rl.utilization">{{rl.utilization | number:2}}</td>
                        <td highlighter="rl.warningLevel">{{rl.warningLevel | number:2}}</td>
                        <td highlighter="rl.throttleLevel">{{rl.throttleLevel | number:2}}</td>
                        <td highlighter="rl.rejectLevel">{{rl.rejectLevel | number:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->

            <div class="panel-footer">
                <table-summary total="recordCount" shown="rlHistory.length"></table-summary>

                <ul class="pagination pagination-sm pull-right" style="margin-top: -5px" ng-if="paging.pages.length > 1">
                    <li class="{{paging.first.class}}" ng-click="pagingFirst()"><a aria-label="First"><span aria-hidden="true" class="fa fa-fast-backward"></span></a></li>
                    <li class="{{paging.previous.class}}" ng-click="pagingPrevious()"><a aria-label="Previous"><span aria-hidden="true" class="fa fa-step-backward"></span></a></li>
                    <li ng-repeat="page in paging.pages" class="{{page.class}}" ng-click="pagingGoTo(page.page)"><a aria-label="Page {{page.page}}">{{page.page}}</a></li>
                    <li class="{{paging.next.class}}" ng-click="pagingNext()"><a aria-label="Next"><span aria-hidden="true" class="fa fa-step-forward"></span></a></li>
                    <li class="{{paging.last.class}}" ng-click="pagingLast()"><a aria-label="Last"><span aria-hidden="true" class="fa fa-fast-forward"></span></a></li>
                </ul>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>