<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage">
    <div class="panel-body" *ngIf="chartData?.rows?.length > 0">
        <google-chart chartType="LineChart"
                      [chartOptions]="chartOptions"
                      [chartData]="chartData"
                      height="377px"></google-chart>
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                sortingKey="received">
            <template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </template>
        </column>
        <column title="Limit utilization"
                sortingKey="utilization">
            <template let-record="row" cell-template>
                {{record.utilization | number:'.2-2'}}
            </template>
        </column>
        <column title="Warning Level">
            <column title="Limit"
                    sortingKey="warningLevel">
                <template let-record="row" cell-template>
                    {{record.warningLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    sortingKey="warningUtil">
                <template let-record="row" cell-template>
                    {{record.warningUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Throttle Level">
            <column title="Limit"
                    sortingKey="throttleLevel">
                <template let-record="row" cell-template>
                    {{record.throttleLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    sortingKey="throttleUtil">
                <template let-record="row" cell-template>
                    {{record.throttleUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Stop Level">
            <column title="Limit"
                    sortingKey="rejectLevel">
                <template let-record="row" cell-template>
                    {{record.rejectLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    sortingKey="rejectUtil">
                <template let-record="row" cell-template>
                    {{record.rejectUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
    </data-table>
</list-content>