<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage">
    <div class="panel-body" *ngIf="chartData?.rows?.length > 0">
        <google-line-chart [chartOptions]="chartOptions"
                           [chartData]="chartData"
                           height="377px"
                           [showControls]="true"></google-line-chart>
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                [sortingKey]="valueGetters.received">
            <template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </template>
        </column>
        <column title="Limit utilization"
                [sortingKey]="valueGetters.utilization">
            <template let-record="row" cell-template>
                {{record.utilization | number:'.2-2'}}
            </template>
        </column>
        <column title="Warning Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.warningLevel">
                <template let-record="row" cell-template>
                    {{record.warningLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.warningUtil">
                <template let-record="row" cell-template>
                    {{record.warningUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Throttle Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.throttleLevel">
                <template let-record="row" cell-template>
                    {{record.throttleLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.throttleUtil">
                <template let-record="row" cell-template>
                    {{record.throttleUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Stop Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.rejectLevel">
                <template let-record="row" cell-template>
                    {{record.rejectLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.rejectUtil">
                <template let-record="row" cell-template>
                    {{record.rejectUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
    </data-table>
</list-content>