<list-content title="Risk Limits"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', record.clearer | nullvalue:'*', record.member | nullvalue:'*']">
                    {{record.member}}
                </a>
            </template>
        </column>
        <column title="Maintainer"
                [sortingKey]="valueGetters.maintainer">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', routeParams['clearer'] | nullvalue:'*', routeParams['member'] | nullvalue:'*', record.maintainer | nullvalue:'*']">
                    {{record.maintainer}}
                </a>
            </template>
        </column>
        <column title="Type"
                [sortingKey]="valueGetters.limitType">
            <template let-record="row" cell-template>
                <a [routerLink]="['/riskLimitLatest', routeParams['clearer'] | nullvalue:'*', routeParams['member'] | nullvalue:'*', routeParams['maintainer'] | nullvalue:'*', record.limitType | nullvalue:'*']">
                    {{record.limitType}}
                </a>
            </template>
        </column>
        <column title="Utilization"
                [sortingKey]="valueGetters.utilization">
            <template let-record="row" cell-template>
                {{record.utilization | number:'.2-2'}}
            </template>
        </column>
        <column title="Warning Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.warningLevel">
                <template let-record="row" cell-template>
                    {{record.warningLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.warningUtil">
                <template let-record="row" cell-template>
                    {{record.warningUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Throttle Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.throttleLevel">
                <template let-record="row" cell-template>
                    {{record.throttleLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.throttleUtil">
                <template let-record="row" cell-template>
                    {{record.throttleUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column title="Stop Level">
            <column title="Limit"
                    [sortingKey]="valueGetters.rejectLevel">
                <template let-record="row" cell-template>
                    {{record.rejectLevel | number:'.2-2'}}
                </template>
            </column>
            <column title="Utilization"
                    [sortingKey]="valueGetters.rejectUtil">
                <template let-record="row" cell-template>
                    {{record.rejectUtil | percent:'.0-0'}}
                </template>
            </column>
        </column>
        <column>
            <template let-record="row" cell-template>
                <detail-row-button
                        [routerLink]="['/riskLimitHistory', record.clearer | nullvalue:'*', record.member | nullvalue:'*', record.maintainer | nullvalue:'*', record.limitType | nullvalue:'*']"></detail-row-button>
            </template>
        </column>
    </data-table>
</list-content>