<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Margin Component Detail: <a href="#/mc-overview/{{clearer}}">{{clearer}}</a> / <a href="#/mc-overview/{{clearer}}/{{member}}">{{member}}</a> / <a href="#/mc-overview/{{clearer}}/{{member}}/{{account}}">{{account}}</a> / <a href="#/mc-overview/{{clearer}}/{{member}}/{{account}}/{{class}}">{{class}}</a> / <a href="#/mc-detail/{{clearer}}/{{member}}/{{account}}/{{class}}/{{ccy}}">{{ccy}}</a></span>
        </div>
    </div>
</nav>

<canvas chart="Line" options="mcChartOptions" data="mcChartData" width="1000" height="400" style="margin: 10px;"></canvas>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Variation<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('variationMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-variationMargin')"></span></th>
            <th>Premium<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('premiumMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-premiumMargin')"></span></th>
            <th>Liquidation<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('liquiMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-liquiMargin')"></span></th>
            <th>Spread<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('spreadMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-spreadMargin')"></span></th>
            <th>Additional<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('additionalMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-additionalMargin')"></span></th>
            <th>Last update<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('received')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-received')"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mc in mcDetail | filter:recordQuery | orderBy:ordering track by mc.id" row-highlighter="mc.id">
            <td highlighter="mc.variationMargin">{{mc.variationMargin}}</td>
            <td highlighter="mc.premiumMargin">{{mc.premiumMargin}}</td>
            <td highlighter="mc.liquiMargin">{{mc.liquiMargin}}</td>
            <td highlighter="mc.spreadMargin">{{mc.spreadMargin}}</td>
            <td highlighter="mc.additionalMargin">{{mc.additionalMargin}}</td>
            <td highlighter="mc.received">{{mc.received | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
</div>