<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><a href="#/mc-overview">Margin Components</a><span ng-if="clearer != '*'">: <a href="#/mc-overview/{{clearer}}">{{clearer}}</a></span><span ng-if="member != '*'"> / <a href="#/mc-overview/{{clearer}}/{{member}}">{{member}}</a></span><span ng-if="account != '*'"> / <a href="#/mc-overview/{{clearer}}/{{member}}/{{account}}">{{account}}</a></span><span ng-if="class != '*'"> / <a href="#/mc-overview/{{clearer}}/{{member}}/{{account}}/{{class}}">{{class}}</a></span></span>
        </div>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="recordQuery">
            </div>
        </form>
    </div>
</nav>

<div class="alert alert-danger" role="alert" ng-if="error != ''">Failed to update the data: {{error}}.</div>

<div class="alert alert-info" role="alert" ng-if="mcOverview.length == 0">No data available.</div>

<div class="table-responsive" ng-if="mcOverview.length > 0">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Member <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('-member')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-member')"></span></th>
            <th>Account <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('account')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-account')"></span></th>
            <th>Class <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('clss')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-clss')"></span></th>
            <th>Currency <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('ccy')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-ccy')"></span></th>
            <th>Variation<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('variationMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-variationMargin')"></span></th>
            <th>Premium<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('premiumMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-premiumMargin')"></span></th>
            <th>Liquidation<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('liquiMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-liquiMargin')"></span></th>
            <th>Spread<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('spreadMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-spreadMargin')"></span></th>
            <th>Additional<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('additionalMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-additionalMargin')"></span></th>
            <th>Last update<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('received')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-received')"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mc in mcOverview | spacedFilter:recordQuery | orderBy:ordering track by mc.functionalKey" row-highlighter="mc.functionalKey">
            <td highlighter="mc.member"><a href="#/mc-overview/{{mc.clearer}}/{{mc.member}}">{{mc.member}}</a></td>
            <td highlighter="mc.account"><a href="#/mc-overview/{{mc.clearer}}/{{mc.member}}/{{mc.account}}">{{mc.account}}</a></td>
            <td highlighter="mc.clss"><a href="#/mc-overview/{{clearer}}/{{member}}/{{account}}/{{mc.clss}}">{{mc.clss}}</a></td>
            <td highlighter="mc.ccy">{{mc.ccy}}</td>
            <td highlighter="mc.variationMargin">{{mc.variationMargin}}</td>
            <td highlighter="mc.premiumMargin">{{mc.premiumMargin}}</td>
            <td highlighter="mc.liquiMargin">{{mc.liquiMargin}}</td>
            <td highlighter="mc.spreadMargin">{{mc.spreadMargin}}</td>
            <td highlighter="mc.additionalMargin">{{mc.additionalMargin}}</td>
            <td highlighter="mc.received">{{mc.received | date:'HH:mm:ss.sss'}}</td>
            <td><a href="#/mc-detail/{{mc.clearer}}/{{mc.member}}/{{mc.account}}/{{mc.clss}}/{{mc.ccy}}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" title="Detail"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>