<div class="panel panel-default" ng-controller="TotalMarginRequirementTreemapController as treemap" style="border-top: 0px">
    <div class="panel-body">
        <initial-load
                ng-if="treemap.chartObject.data.rows.length <= 1 && treemap.initialLoad == true && treemap.errorMessage == ''"/>

        <no-data
                ng-if="treemap.chartObject.data.rows.length <= 1 && treemap.initialLoad == false && treemap.errorMessage == ''"/>

        <update-failed ng-if="treemap.errorMessage != ''" message="treemap.errorMessage"/>

        <div google-chart chart="treemap.chartObject" style="height:345px; width:100%;"
             ng-if="treemap.chartObject.data.rows.length > 1"></div>
        <br />

        <a href="#/totalMarginRequirementLatest" class="btn btn-default btn-block">View Details</a>
    </div>
</div>