<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Margin Component History</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Margin Components History: <a href="#/marginComponentLatest/{{clearer}}">{{clearer}}</a> / <a href="#/marginComponentLatest/{{clearer}}/{{member}}">{{member}}</a> / <a href="#/marginComponentLatest/{{clearer}}/{{member}}/{{account}}">{{account}}</a> / <a href="#/marginComponentLatest/{{clearer}}/{{member}}/{{account}}/{{class}}">{{class}}</a> / <a href="#/marginComponentHistory/{{clearer}}/{{member}}/{{account}}/{{class}}/{{ccy}}">{{ccy}}</a>

                <div class="pull-right">
                    <a href="#/positionReportLatest/{{clearer}}/{{member}}/{{account}}/{{class}}" class="btn btn-primary btn-xs" role="button"><span class="fa fa-bullseye" aria-hidden="true" title="Drilldown"></span> Drilldown</a>
                </div>
            </div>

            <div class="panel-body" ng-if="mcHistory.length == 0">
                <div class="alert alert-info" role="alert">No data available.</div>
            </div>

            <div class="panel-body" ng-if="error != ''">
                <div class="alert alert-danger" role="alert">Failed to update the data: {{error}}.</div>
            </div>

            <div class="panel-body" ng-if="mcHistory.length > 0">
                <div id="mcHistoryChart" line-chart line-data="mcChartData" line-xkey='period' line-ykeys='["variationMargin", "premiumMargin", "liquiMargin", "spreadMargin", "additionalMargin"]' line-labels='["Variation Marign", "Premium Margin", "Liquidation Margin", "Spread Margin", "Additional Margin"]' line-colors='["#31C0BE", "#c7254e", "#800000", "#808000", "#FF00FF"]'></div>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body" ng-if="mcHistory.length > 0">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="sorting">Variation <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('variationMargin')"></span></th>
                        <th>Premium <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('premiumMargin')"></span></th>
                        <th>Liquidation <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('liquiMargin')"></span></th>
                        <th>Spread <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('spreadMargin')"></span></th>
                        <th>Additional <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('additionalMargin')"></span></th>
                        <th>Last update <span class="fa fa-sort" aria-hidden="true" ng-click="sortRecords('received')"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mc in mcHistory | filter:recordQuery | orderBy:ordering track by mc.id.$oid" row-highlighter="mc.id.$oid">
                        <td highlighter="mc.variationMargin">{{mc.variationMargin | number:2}}</td>
                        <td highlighter="mc.premiumMargin">{{mc.premiumMargin | number:2}}</td>
                        <td highlighter="mc.liquiMargin">{{mc.liquiMargin | number:2}}</td>
                        <td highlighter="mc.spreadMargin">{{mc.spreadMargin | number:2}}</td>
                        <td highlighter="mc.additionalMargin">{{mc.additionalMargin | number:2}}</td>
                        <td highlighter="mc.received">{{mc.received | date:'HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>