<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Total Margin Requirement: <a href="#/tmr-overview/{{clearer}}">{{clearer}}</a> / <a href="#/tmr-overview/{{clearer}}/{{pool}}">{{pool}}</a> / <a href="#/tmr-overview/{{clearer}}/{{pool}}/{{member}}">{{member}}</a> / <a href="#/tmr-overview/{{clearer}}/{{pool}}/{{member}}/{{account}}">{{account}}</a> / <a href="#/tmr-detail/{{clearer}}/{{pool}}/{{member}}/{{account}}/{{ccy}}">{{ccy}}</a></span>
        </div>
    </div>
</nav>

<div class="alert alert-danger" role="alert" ng-if="error != ''">Failed to update the data: {{error}}</div>

<div class="alert alert-info" role="alert" ng-if="tmrDetail.length == 0">No data available.</div>

<canvas chart="Line" options="tmrChartOptions" data="tmrChartData" width="1000" height="400" style="margin: 10px;" ng-if="tmrDetail.length > 0"></canvas>

<div class="table-responsive" ng-if="tmrDetail.length > 0">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Adjusted<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('adjustedMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-adjustedMargin')"></span></th>
            <th>Unadjusted<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('unadjustedMargin')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-unadjustedMargin')"></span></th>
            <th>Last update<span class="glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="sortRecords('received')"></span><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="sortRecords('-received')"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tmr in tmrDetail | filter:recordQuery | orderBy:ordering track by tmr.id" row-highlighter="tmr.id">
            <td highlighter="tmr.adjustedMargin">{{tmr.adjustedMargin}}</td>
            <td highlighter="tmr.unadjustedMargin">{{tmr.unadjustedMargin}}</td>
            <td highlighter="tmr.received">{{tmr.received | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
</div>