<list-content title="Total Margin Requirement"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering">
        <column title="Collateral Pool"
                sortingKey="pool">
            <template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*']">
                    {{record.pool}}
                </a>
            </template>
        </column>
        <column title="Member / Client"
                sortingKey="member">
            <template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*']">
                    {{record.member}}
                </a>
            </template>
        </column>
        <column title="Account"
                sortingKey="account">
            <template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*', record.account | nullvalue:'*']">
                    {{record.account}}
                </a>
            </template>
        </column>
        <column title="Ccy"
                sortingKey="ccy">
            <template let-record="row" cell-template>
                {{record.ccy}}
            </template>
        </column>
        <column title="Adjusted Margin"
                tooltip="Margin requirement excluding premium credit"
                sortingKey="adjustedMargin">
            <template let-record="row" cell-template>
                {{record.adjustedMargin | number:'.2-2'}}
            </template>
        </column>
        <column title="Unadjusted Margin"
                tooltip="Unadjusted margin requirement"
                sortingKey="unadjustedMargin">
            <template let-record="row" cell-template>
                {{record.unadjustedMargin | number:'.2-2'}}
            </template>
        </column>
        <column>
            <template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="['/marginComponentLatest', record.clearer | nullvalue:'*', record.member | nullvalue:'*', record.account | nullvalue:'*', '*', record.ccy | nullvalue:'*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="['/totalMarginRequirementHistory', record.clearer | nullvalue:'*', record.pool | nullvalue:'*', record.member | nullvalue:'*', record.account | nullvalue:'*', record.ccy | nullvalue:'*']"></detail-row-button>
            </template>
        </column>
    </data-table>
</list-content>