<div class="row">
    <div class="col-lg-12">
        <h3>Total Margin Requirement History</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <download-menu [columns]="exportKeys" [data]="data"
                               filename="download.csv"></download-menu>

                <bread-crumbs [routeParts]="routeParts"></bread-crumbs>
            </div>

            <initial-load *ngIf="initialLoad && !errorMessage"></initial-load>

            <no-data *ngIf="!initialLoad && !errorMessage && data?.length < 1"></no-data>

            <update-failed *ngIf="errorMessage" [message]="errorMessage"></update-failed>

            <div class="panel-body" ng-if="vm.chartData.length > 0">
                <!--<div id="tmrHistoryChart" line-chart line-data="vm.chartData" line-xkey='period'-->
                <!--line-ykeys='["adjustedMargin", "unadjustedMargin"]'-->
                <!--line-labels='["Adjusted Marign", "Unadjusted Margin"]' line-colors='["#31C0BE", "#c7254e"]'></div>-->
            </div>

            <data-table [data]="data"
                        [pageSize]="pageSize"
                        [defaultOrdering]="defaultOrdering">
                <column title="Last update"
                        tooltip="Time of the last update"
                        sortingKey="received">
                    <template let-record="row" cell-template>
                        {{record.received | date:'HH:mm:ss'}}
                    </template>
                </column>
                <column title="Adjusted Margin"
                        tooltip="Margin requirement excluding premium credit"
                        sortingKey="adjustedMargin">
                    <template let-record="row" cell-template>
                        {{record.adjustedMargin | number:'.2-2'}}
                    </template>
                </column>
                <column title="Unadjusted Margin"
                        tooltip="Unadjusted margin requirement"
                        sortingKey="unadjustedMargin">
                    <template let-record="row" cell-template>
                        {{record.unadjustedMargin | number:'.2-2'}}
                    </template>
                </column>
            </data-table>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>