<ul class="pagination pagination-sm pull-right" style="margin-top: -5px" ng-if="paging.pages.length > 1">
    <li class="{{paging.first.class}}" ng-click="paging.goToFirst()"><a aria-label="First"><span aria-hidden="true" class="fa fa-fast-backward"></span></a></li>
    <li class="{{paging.previous.class}}" ng-click="paging.goToPrevious()"><a aria-label="Previous"><span aria-hidden="true" class="fa fa-step-backward"></span></a></li>
    <li ng-repeat="page in paging.pages" class="{{page.class}}" ng-click="paging.goToPage(page.page)"><a aria-label="Page {{page.page}}">{{page.page}}</a></li>
    <li class="{{paging.next.class}}" ng-click="paging.goToNext()"><a aria-label="Next"><span aria-hidden="true" class="fa fa-step-forward"></span></a></li>
    <li class="{{paging.last.class}}" ng-click="paging.goToLast()"><a aria-label="Last"><span aria-hidden="true" class="fa fa-fast-forward"></span></a></li>
</ul>